*,html,body{
  margin:0;
  padding:0;
}
main {
    padding-bottom: 5rem;
  }
  
  p {
    margin: 1.5rem 0;
  }
  
  a {
    color: #1a1a1a;
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
  }
  
  a:hover {
    color: #f33;
  }
  
  ol,
  ul {
    list-style-type: none;
  }
  
  header {
    z-index: 1000;
    margin: 1rem auto;
    max-width: 12rem;
    padding: 1rem;
  }
  header a.logo {
    display: block;
    border: none;
  }
  header a.logo svg {
    fill: #2a2a2a;
    display: block;
    width: 100%;
  }
  
  .intro {
    max-width: 60rem;
    margin: 4rem auto 2rem auto;
  }
  
  .intro p {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hed {
    font-family: "Mercury SSm A", "Mercury SSm B", Georgia, serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    text-align: center;
  }
  
  .hed a {
    border: none;
  }
  
  .byline {
    color: #777;
    height: 100%;
    overflow: hidden;
  }
  
  .byline__author {
    float: left;
    /*display: block;*/
  }
  
  .byline__date {
    float: right;
  }
  
  .disclaimer {
    clear: both;
    font-size: 0.9rem;
  }
  
  .update {
    /* background-color: #eee; */
    font-size: 0.9rem;
    padding: 1rem;
  }
  
  .video-example {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
  
  .video-example {
    background-color: #1a1a1a;
    margin: 3rem auto;
  }
  
  .example-link {
    display: block;
    width: 49.25%;
    margin: 0.25%;
    border: none;
  }
  
  .example-link:nth-child(1) {
    margin-left: 0.5%;
    margin-top: 0.5%;
  }
  
  .example-link:nth-child(2) {
    margin-right: 0.5%;
    margin-top: 0.5%;
  }
  
  .example-link:nth-child(3) {
    margin-left: 0.5%;
    margin-bottom: 0.5%;
  }
  
  .example-link:nth-child(4) {
    margin-right: 0.5%;
    margin-bottom: 0.5%;
  }
  
  .video-demo {
    display: block;
    max-width: 40rem;
    margin: 0 auto;
    border: 1px solid #eee;
  }
  
  .outro {
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  
  /* 전체 컨테이너  */
  .library {
    padding: 1rem 0;
    margin: 2rem auto;
    max-width: 100%;
  }
  
  /* .library__text {
    margin: 0 auto;
    max-width: 40rem;
  }
   */
  .library__hed {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .library__review {
  }
  
  .library__demo {
    text-transform: uppercase;
  }
  
  .library__code {
    font-size: 0.85rem;
    height: 20vh;
    overflow: hidden;
    position: relative;
  }
  
  .library__code.is-expand {
    height: auto;
  }
  
  .library__code:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3rem;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(39, 40, 34, 1) 80%
    );
  }
  
  .code__button {
    display: block;
    width: 100%;
    background: #1a1a1a;
    color: #efefef;
    border-top: 1px solid #666;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
  }
  
  .code__button:hover {
    background-color: #f33;
  }
  
  .back-to-blog {
    text-align: center;
  }
  
  .demo-links {
    height: 100%;
    overflow: hidden;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
  }
  
  .demo-links li {
    float: left;
    margin-right: 1rem;
  }
  #toolbar {
    margin-top: 10px;
  }
  
  .year {
    font-size: 21px;
    fill: #aaa;
    cursor: default;
  }
  

  /* 고정형 인터랙브 */

  a, a:visited, a:active {
    color: #444;
  }
  
  .container {
    max-width: 900px;
    margin: auto;
  }
  
  .button {
    min-width: 130px;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
  }
  
  .button.active {
    background: #000;
    color: #fff;
  }
  
  
  #vis {
    width: 940px;
    height: 600px;
    clear: both;
    margin-bottom: 10px;
  }
  
  #toolbar {
    margin-top: 10px;
  }
  
  .year {
    font-size: 21px;
    fill: #aaa;
    cursor: default;
  }
  
  .tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #fff;
    opacity: .9;
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 12px;
    z-index: 10;
  }
  
  .tooltip .title {
    font-size: 13px;
  }
  
  .tooltip .name {
    font-weight:bold;
  }
  
  .footer {
    text-align: center;
  }
  