@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
html{-webkit-overflow-scrolling : touch;}
span.mabu{}
body, h1, h2, h3, h4, h5, p, div , li{
  font-family: 'Noto Sans KR', sans-serif;
}
body{
  font-size:17px;
  line-height:150%;
}
a{
  color:#212529;
}
a:visited{
  color:#212529;
}
a:hover{
  color:#868e96;
}
a:active{
 color: #212529;
}
main {
    padding-bottom: 5rem;
}
  .img-graphic{
    width:80%;
    max-width:760px;
    margin:0 auto;
    text-align:center;
    margin-top:7rem;
  }
  .img-graphic img{
    width:100%;
  }
  .intro {
    /* background:url('../img/banner.jpg'); */
    max-width: 760px;
    margin: 7rem auto 0 auto;
    padding:0 20px;
    text-align:center;
  }
  .title a{
    font-size: 30px;
    color:#212529;
    font-weight: bold;
    text-align: center;
  }
  .title a span{
    color:#7048e8;
  }
  .subtitle{
    font-weight:500;
    color:#868e96;
  }

/* 스크롤 인터랙티브 */
.disc.scroll{
  /* position: absolute;
  top:200px;
  left:50px; */
  margin-top:30px;
  width:100%;
  word-break: keep-all;
}
.library {
  margin: 0 auto;
  width:100%;
}
.graphic {
width: 100%;
position: relative;
}
/* 텍스트파트 일단 50/50 패딩으로 마진처리 */
.graphic__prose {
width:40vw;
padding-left:15vw;
padding-right:20px;
}

.graphic__prose .trigger {
padding: 0;
margin: 0;
min-height: 100vh;
max-height: 100vh;

}

.graphic__vis {
position: absolute;
top: 0;
margin-left: 40vw;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
width:50%;
height: 100vh;
}

.graphic__vis.is-fixed {
position: fixed;
}

.graphic__vis.is-bottom {
top: auto;
bottom: 0;
}

/* 차트svg를 버티컬 센터로 맞추면 처음 시작할때 텍스트와 같이 시작할수가 없.. */
.graphic__vis svg {
/* border: 1px dashed black; */
/* top: 50%; */
position: relative;
/* -webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%); */

}

.graphic__vis.graph-scroll-fixed {
position: fixed;
right: auto;
}

.graphic__vis.graph-scroll-below {
top: auto;
bottom: 0;
}

.trigger{
position:relative;
opacity: .3;
transition: all .5s;
} 

.trigger.graph-scroll-active{
opacity: 1;
}

/* 트리거 안에 박스하나 더 만들어서 트리거는 svg랑 같이 높이 100, 박스를 중간배치 */
.intrigger{
position:absolute;
top:50%;
transform:translateY(-50%);
}
.total{
  font-weight:600;
  font-size:14px;
}
.percent{
  font-size:14px;
}


/* 고정형 인터랙브 */
  
  .container {
    width:80%;
    margin: 4rem auto;
    position: relative;
  }
  .fix-text{
    margin:50px 0;
  }
  .toolwrap{
    width:100%;
    float:left;
    -webkit-box-shadow: 0px 3px 18px 4px rgba(73,80,87,0.3); 
    box-shadow: 0px 3px 18px 4px rgba(73,80,87,0.3);
    padding-bottom:30px;
  }
  #toolbar{
    float:left;
    width:100%;
    box-sizing: border-box;
    margin-bottom:50px;
    height:50px;
    line-height:50px;
    background: #7048e8;
    color: #fff;
  }
  #toolbar::after { 
    content: '';
    clear: both;
   }
  .button {
    width:33.33%;
    height:100%;
    /* margin:0 1.5%; */
    float:left;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    /* border-radius:100px; */
    border-left:2px solid #fff;
  }
  .button:hover{
    background:#fff ;
    color: #7048e8;
  }
  .button.active {
    background:#fff ;
    color: #7048e8;
  }
  
  .disc{
    clear:both;
    width:100%;
    color:#868e96;
    font-size:12px;
    line-height: 16px;
    margin-bottom:20px;
  }

  #vis {
    box-sizing: border-box;
    width:55%;
    height:600px;
    float:left;
    margin-bottom:4rem;
  }
  .doc-title{
    width:45%;
    float:right;
    padding:0 30px 20px 30px;
    border-left:1px solid #ced4da;
  }
  .doc-mom{
    float:right;
    box-sizing: border-box;
    width:45%;
    border-left:1px solid #ced4da;
    height:550px;
    padding:0 30px 20px 30px;
    overflow:scroll;
    line-height:170%;
  }
  .doc-mom span{
    font-weight:bold;
  }
  .doc-name, .doc-budget{
    color:#7048e8;
    font-weight:bold;
  }
  
  .tooltip {
    position: absolute;
    font-size:14px;
    top: 100px;
    left: 100px;
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 2px solid #7048e8;
    background: #fff;
    opacity: .9;
    color: black;
    padding: 10px;
    z-index: 10;
  }
  
  .tooltip .name {
    font-weight:bold;
  }
  
  .tail{
    clear: both;
    width:80%;
    margin:0 auto;
  }
  .footer {
    text-align: center;
  }
  .x-axis text{
    fill: #868e96;
    font-size:14px;
  }
  .x-axis path{
    stroke: #868e96;
    stroke-width:.5;
  }
  .x-axis line{
    stroke: #868e96;
    /* display:none; */
  }      

   /* 미디어쿼리 1024 */
   @media screen and (max-width: 1024px) {
    .x-axis text{
      font-size:10px;
    }
    .img-graphic{
      width:100%;
      max-width:100%;
      padding:0 20px;
      text-align:center;
      margin-top:7rem;
    }
    /* 스크롤 인터랙티브 */
    .disc.scroll{
      display:none;
    }
      .library {
        margin: 0 auto;
        width:100%;
      }
      .graphic {
      width: 100%;
      position: relative;
      }
      /* 텍스트파트 일단 50/50 패딩으로 마진처리 */
      .graphic__prose {
      width:100vw;
      padding-left:20px;
      padding-right:20px;
      }

      .graphic__prose .trigger {
      padding: 0;
      margin: 0;
      min-height: 100vh;
      max-height: 100vh;
      background:rgba(255,255,255,.6);
      z-index:999;
      }

      /* 그래프파트 (돔의 넓이 적용이 안됨 차트에..그래서 윈도우 넓이 적용해야만함.. 그래서 50/50)
      높이 걍 100 */
      .graphic__vis {
      position: absolute;
      top: 0;
      margin-left:0;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      width:100%;
      padding:0 20px;
      height: 100vh;
      pointer-events: none;
      }

      .trigger{
      position:relative;
      opacity: .3;

      } 

      .trigger.graph-scroll-active{
      opacity: 1;
      }

      /* 트리거 안에 박스하나 더 만들어서 트리거는 svg랑 같이 높이 100, 박스를 중간배치 */
      .total{
        font-weight:600;
        font-size:14px;
        display:none;
      }
      .percent{
        font-weight:600;
        display:none;
      }
      .percentline{
        display: none;
      }
      /* 고정형 인터랙브 */
        
        .container {
          width:100%;
          padding:0 20px;
          margin: 4rem auto;
          position: relative;
        }
/* 
        #toolbar{
          float:left;
          width:100%;
          box-sizing: border-box;
          margin-bottom:50px;
          height:50px;
          line-height:50px;
          background: none;
          color:#000;
        } */
        .toolwrap{
          padding:0 20px;
        }

        #toolbar{
          float:none;
          height:auto;
          width:100%;
          box-sizing: border-box;
          margin:30px 0;
          background: none;
          color:#000;
          line-height:24px;
        }
        .button {
          width:100%;
          height:auto;
          margin-left:0;
          margin-bottom:20px;
          float:none;
          box-sizing: border-box;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          font-weight:bold;
          border-radius:100px;
          border:2px solid #7048e8;
          padding:5px 20px;
        }
        .button:hover{
          background: #7048e8;
          color: #fff;
        }
        .button.active {
          background: #7048e8;
          color: #fff;
        }
        .disc{
          clear:both;
          width:100%;
          color:#868e96;
          font-size:12px;
          line-height: 16px;
          margin-bottom:20px;
        }

        #vis {
          box-sizing: border-box;
          width:100%;
          height:600px;
          float:none;
          margin-bottom:20px;
        }
        
        .doc-title{
          width:100%;
          float:none;
          padding:0;
          text-align:center;
          margin-bottom:10px;
          border-left:none;
        }
        .doc-mom{
          float:none;
          box-sizing: border-box;
          width:100%;
          border-left:none;
          height:auto;
          padding-bottom:20px;
          overflow:visible;
          line-height:170%;
        }
   }